.authOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headerBtn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteBtn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 15%;
}

.editBtn {
  background-color: #f1c40f;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
}

.addBtn {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 15%;
}

.cancelBtn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/*list styles */
.list {
  padding: 0;
}

.list li {
  list-style: none !important;
}

.comment {

  padding: 1rem 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 35%;
 
  align-items: flex-start;
}

.comment-content {
  flex: 1;
  margin-left: 10px;
}

.comment-options {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.comment-options .btn {
  margin-left: 10px;
}

.comments-section {
  padding: 0 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

strong {
  font-size: 1rem;
  color: #fbfbfb;
  padding: 0 1rem;
}

.comments {
  font-size: 1rem;
}

form {
  padding: 0 1rem;
}